<div class="container">
  <h1>Wiki API</h1>
  <div class="search-form">
    <form (submit)="buscar()" method="get">
      <div class="input-group">
        <input [(ngModel)]="termos" type="text" placeholder="digite sua pesquisa" name="termos" class="form-control input-lg rounded-pill">
        <div class="input-group-btn ms-3">
          <button class="btn btn-lg btn-outline-success">
            Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngFor="let result of resultados" class="search-form">
    <h3><a target="_blank" href="https://en.wikipedia.org/wiki?curid={{result.pageid}}">{{result.title}}</a></h3>
    <p [innerHtml]="result.snippet"></p>
  </div>
</div>